body{



    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;

    text-align: center;
    font-family: "Arial";

    background-color: #1b1b32;
    color: #be5b34;
    font-family: Tahoma;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

